/* LOADER STLYES */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* height: 100%; */
}

.loader-spinner {
  font-size: 8rem;
  animation: rotate 2s linear infinite;
  height: 200px;
  width: 200px;
}

.loader-spinner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
